page-listing {
    .background {
        background-image: url('../assets/bgimage.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .scroll-content {
        align-content: center;
        //display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ion-card.card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    ion-card img {
        width: 100%;
        height: auto;
        background-size: 100% 100%;
    }
    a, p,
    ion-card-header.card-header {
        color: chartreuse;
    }
    h2, p,
    ion-card-content.card-content {
        color:crimson;
    }
    p{
        color:crimson;
    }
}
