page-home {
    .background {
        background-image: url('../assets/bgimage.jpg');
    }
    .list {
        margin: 10px;
    }

    
    [ion-item] {
     
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;
     
    
    
    }
    .icon {
    padding-right: 10px;
    }
    .list > .item-block:first-child {
        border: medium none;
    }
    
}
