<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
<ion-list no-lines>
  <ion-list-header>
    Codetrbe curriculum
  </ion-list-header>
  <button ion-item *ngFor='let course of arrayCourses' (click)="list(course)">
    <ion-icon name="{{course.icon}}" item-left ></ion-icon>
    <h2>{{course.title}}</h2>
    <h3>Duration:{{course.weeks}}weeks</h3>
    <div  *ngFor='let lessons of course.lessons'>
      <p>Lesson{{lessons.number}} {{lessons.title}}</p>
    </div>
    
  </button>
  


</ion-list>

</ion-content>
